#Third party package requirements for OpenEats 2
Django==2.2.14
django-imagekit==4.0.2
djangorestframework==3.11.0
djangorestframework-bulk==0.2.1
djangorestframework-jwt==1.11.0
django-filter==2.3.0
django-extensions==3.0.2
django-cors-headers==3.4.0

coreapi-cli==1.0.9
gunicorn==20.0.4
requests==2.24.0
#six==1.10.0
Pillow==5.1.0
mysqlclient==2.0.1
mock==2.0.0
pytz==2020.1
python-dateutil==2.8.1
